nav > ul {
  display: flex;
  padding: 0;
  margin: 16px 0;
  gap: var(--c8y-unit-base, 8px);
  list-style: none;
  box-shadow: inset 0 -1px 0 var(--table-border, var(--component-border, var(--root-component-border, rgba(0, 0, 0, 0.05))));

  button {
    display: flex;
    padding: 14px 4px;
    background-color: transparent;
    border-radius: 0;
    border: 0 solid transparent;
    color: var(--c8y-nav-tabs-color-default);

    &.active {
      box-shadow: inset 0 calc(var(--c8y-nav-tabs-border-width-active, 2px) * -1) 0 0 var(--c8y-nav-tabs-border-color-active, #058192);
    }
  }
}

progress-tracker {
  max-height: clamp(200px, 40vh, 600px);
  padding-right: 8px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(57, 72, 82, 0.2);
    border-radius: 2px;
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: #677680;
  }
}

:host ::ng-deep c8y-list-group {
  margin: 0 !important;
}
