<c8y-modal #modal [title]="'Install Agent' | translate" [labels]="labels"
  [disabled]="!devices || !config.deviceUsername || !config.devicePassword" (onDismiss)="dismiss($event)"
  (onClose)="submit($event)">
  <div class="card-block">
    <fieldset>
      <div class="legend form-block">Files</div>

      <loading-spinner [loading]="loadingReleases" [title]="'Loading latest release information'"></loading-spinner>

      <div class="form-group">
        <label for="agent_url_connector">{{ 'Connector Jar' | translate }}</label>
        <div class="input-group">
          <input id="agent_url_connector" name="url" type="text" class="form-control"
            placeholder="https://my.server/path-to-file/flexy-cumulocity-connector.jar"
            [(ngModel)]="config.url.connector" />
        </div>
      </div>

      <div class="form-group">
        <label for="agent_url_jvmrun">{{ 'JVM Run' | translate }}</label>
        <div class="input-group">
          <input id="agent_url_jvmrun" name="url" type="text" class="form-control"
            placeholder="https://my.server/path-to-file/jvmrun" [(ngModel)]="config.url.jvmrun" />
        </div>
      </div>

      <div class="form-group">
        <label for="agent_url_cumulocity">{{ 'Cumulocity Connector Config' | translate }}</label>
        <div class="input-group">
          <input id="agent_url_cumulocity" name="url" type="text" class="form-control"
            placeholder="https://my.server/path-to-file/CumulocityConnectorConfig.json"
            [(ngModel)]="config.url.cumulocity" />
        </div>
      </div>
    </fieldset>

    <fieldset>
      <div class="legend form-block">{{ 'Selected Devices' | translate }} ({{ devices?.length }})</div>
      <div class="form-group">
        <ng-container *ngIf="devices && devices.length; else noDevices">
          <ul style="max-height: 200px; overflow-y: auto">
            <li *ngFor="let device of devices">
              {{ device.name }}
              <span class="text-muted">#{{ device.id }}</span>
            </li>
          </ul>
        </ng-container>

        <ng-template #noDevices>
          <div class="c8y-empty-state text-left">
            <h1 class="c8y-icon c8y-icon-duocolor c8y-icon-device-protocols"></h1>
            <p>
              <strong>No devices selected.</strong><br />
              Please select devices using the table.
            </p>
          </div>
        </ng-template>
      </div>
    </fieldset>

    <fieldset>
      <div class="legend form-block">{{' T2M Device Credentials' | translate }}</div>

      <div class="form-group">
        <label for="agent_deviceuser">{{ 'Device Username' | translate }}</label>
        <div class="input-group">
          <input id="agent_deviceuser" type="text" name="deviceusername" class="form-control"
            [(ngModel)]="config.deviceUsername" />
        </div>
      </div>

      <div class="form-group">
        <label for="agent_devicepass">{{ 'Device Password' | translate }}</label>
        <div class="input-group">
          <input id="agent_devicepass" name="devicepassword" class="form-control"
            [type]="showPassword ? 'text' : 'password'" [(ngModel)]="config.devicePassword" />
          <button type="button" class="btn btn-clear btn-icon" (click)="showPassword = !showPassword">
            <i [c8yIcon]="showPassword ? 'eye-slash' : 'eye'"></i>
          </button>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <div class="legend form-block">{{ 'Cumulocity Credentials' | translate}}</div>
      <div class="form-group">
        <label for="c8y_host">{{ 'Host' | translate }}</label>
        <div class="input-group">
          <input id="c8y_host" type="text" name="host" class="form-control" [(ngModel)]="config.c8yHost" />
        </div>
      </div>

      <div class="form-group">
        <label for="c8y_port">{{ 'Port' | translate }}</label>
        <div class="input-group">
          <input id="c8y_port" type="text" name="port" class="form-control" [(ngModel)]="config.c8yPort" />
        </div>
      </div>

      <div class="form-group">
        <label for="c8y_tenant">{{ 'Tenant' | translate }}</label>
        <div class="input-group">
          <input id="c8y_tenant" type="text" name="tenant" class="form-control" [(ngModel)]="config.c8yTenant" />
        </div>
      </div>

      <div class="form-group">
        <label for="c8y_user">{{ 'Username' | translate }}</label>
        <div class="input-group">
          <input id="c8y_user" type="text" name="username" class="form-control" [(ngModel)]="config.c8yUsername" />
        </div>
      </div>

      <div class="form-group">
        <label for="c8y_pass">{{ 'Device Password' | translate }}</label>
        <div class="input-group">
          <input id="c8y_pass" name="password" class="form-control" [type]="showC8YPassword ? 'text' : 'password'"
            [(ngModel)]="config.c8yPassword" />
          <button type="button" class="btn btn-clear btn-icon" (click)="showC8YPassword = !showC8YPassword">
            <i [c8yIcon]="showC8YPassword ? 'eye-slash' : 'eye'"></i>
          </button>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <div class="legend form-block" (click)="showAdvancedOptions = !showAdvancedOptions" style="cursor: pointer">
        <i [ngClass]="{
          'dlt-c8y-icon-add-new': !showAdvancedOptions,
          'dlt-c8y-icon-negative': showAdvancedOptions,
          'm-r-8': true
        }"></i>
        {{ 'Advanced Options' | translate}}
      </div>

      <div *ngIf="showAdvancedOptions">
        <label>Process Steps</label>
        <ul [ngStyle]="{ 'list-style': 'none', padding: 0, margin: '8px 0' }">
          <li *ngFor="let step of installProcessSteps">
            <label class="c8y-checkbox">
              <input type="checkbox" [(ngModel)]="!step.selected"  />
              <span></span>
              <span>{{ step.label }}</span>
            </label>
          </li>
        </ul>
      </div>
    </fieldset>
  </div>
</c8y-modal>
