<c8y-action-bar-item [placement]="'right'">
  <div class="c8y-realtime">
    <span [ngClass]="isSessionConnected ? 'c8y-pulse active' : 'c8y-pulse inactive'"></span> 
    Talk2M Session
  </div>
</c8y-action-bar-item>

<div class="content-fullpage">

  <!-- List of ewon items -->
  <ng-container *ngIf="!isLoading && rows.length > 0;">
    <c8y-data-grid
    [title]="'EWON Flexy Registration' | translate"
    [columns]="columns"
    [pagination]="pagination"
    [actionControls]="actionControls"
    [rows]="rows"
    [selectable]="true"
    >
    </c8y-data-grid>
  </ng-container>

  <!--Loading spinner-->
  <ng-container *ngIf="isLoading;">
    <div class="c8y-empty-state text-center">
      <div class="spinner" style="position: relative">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
      <h3 translate="">Request for EWON devices.</h3>
      <p translate="">This process may take some few seconds.</p>
    </div>
  </ng-container>

  <!-- empty view -->
  <ng-container *ngIf="!isLoading && rows.length == 0;">
    <div class="c8y-empty-state text-center">
      <h1 class="c8y-icon c8y-icon-duocolor c8y-icon-device"></h1>
      <h3>{{ 'There are no EWON Flexy gateways.' | translate }}</h3>
      <h4 *ngIf="!isSessionConnected">{{ 'Session is disconnected.' | translate }}</h4>
      <h4 *ngIf="isSessionConnected">{{ 'Provided session does not contain any devices.' | translate }}</h4>
    </div>
  </ng-container>

</div>