<div class="p-b-16">
    <div class="modal-header modal-header-primary text-center">
      <i [c8yIcon]="'c8y-icon-duocolor c8y-icon-device-connect'" style="font-size: 32px;"></i>
      <h3 class="p-t-16">{{ 'Register Flexy manually' }}</h3>
    </div>
    <div class="card">
      <div class="card-header separator">
        <h4 class="card-title">{{ "Flexy Integration" | translate }}</h4>
      </div>
      <div class="card-block">
        <h4>{{ "Flexy Credentials" | translate }}</h4>
        <div class="form-group">
          <label>{{ "Device Name" | translate }}</label>
          <input class="form-control" type="text" [(ngModel)]="config.device_name" required/>
        </div>
        <div class="form-group">
          <label>{{ "Device Username" | translate }}</label>
          <input class="form-control" type="text" [(ngModel)]="config.device_user" required/>
        </div>
        <div class="form-group">
          <label>{{ "Device Password" | translate }}</label>
          <input class="form-control" type="password" [(ngModel)]="config.device_pass" required/>
        </div>
      </div>
      <div class="card-footer separator">
        <input type="submit" value="Register Flexy" class="btn btn-primary"  (click)="onRegister(config)" [ngClass]="isFlexyConnected ? '' : 'btn-pending'"/>
      </div>
    </div>
</div>