<!--Action Bar-->
<c8y-action-bar-item [placement]="'right'">
    <div class="c8y-realtime">
      <span [ngClass]="isSessionConnected ? 'c8y-pulse active' : 'c8y-pulse inactive'"></span> 
      DataMailbox Connected
    </div>
  </c8y-action-bar-item>


  <!--Table of registered EWON Flexy gateways-->
<div class="d-block">
    <!-- List of ewon items -->
    <ng-container *ngIf="!isLoading && rows.length > 0;">
      <c8y-data-grid
      [title]="'EWON Flexy Registration' | translate"
      [columns]="columns"
      [pagination]="pagination"
      [actionControls]="actionControls"
      [rows]="rows"
      [selectable]="true"
      (itemsSelect)="selectItems($event)"
      >
          <c8y-column name="registered">
            <ng-container *c8yCellRendererDef="let context">
              <span class = "d-flex j-c-center" *ngIf="context.value == 'yes'">YES <i class="dlt-c8y-icon-check-circle status-successful" style="color: #008800;; padding-left:1rem;"></i></span>
              <span class = "d-flex j-c-center" *ngIf="context.value == 'no'">NO <i class="dlt-c8y-icon-block status-unsupported" style="color: #58656D;; padding-left:1rem;"></i></span>
            </ng-container>
          </c8y-column>
      </c8y-data-grid>
      <button *ngIf="selectedItems.length > 0;" type="button" class="btn btn-primary btn btn-block" (click)="startRegistration()">
        <h4 class="m-r-16" style="margin: 1rem; text-align: left;">Register {{selectedItems.length}} selected items.</h4>
      </button>
    </ng-container>
  
    <!--Loading spinner-->
    <ng-container *ngIf="isLoading;">
      <div class="c8y-empty-state text-center">
        <div class="spinner" style="position: relative">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
        <h3 translate="">Request for EWON devices.</h3>
        <p translate="">This process may take some few seconds.</p>
      </div>
    </ng-container>
  
    <!-- empty view -->
    <ng-container *ngIf="!isLoading && rows.length == 0;">
      <div class="c8y-empty-state text-center">
        <h1 class="c8y-icon c8y-icon-duocolor c8y-icon-device"></h1>
        <h3>{{ 'There are no EWON Flexy gateways.' | translate }}</h3>
        <h4 *ngIf="!isSessionConnected">{{ 'Session is disconnected.' | translate }}</h4>
        <h4 *ngIf="isSessionConnected">{{ 'Provided session does not contain any devices.' | translate }}</h4>
      </div>
    </ng-container>
  
  </div>