<c8y-title>{{ "EWON Flexy Synchronisation" | translate }}</c8y-title>
<!--Action Bar connected-->
<c8y-action-bar-item [placement]="'right'" [priority]="-99999">
  <div class="c8y-realtime" [ngStyle]="!isSessionConnected ? {'display': 'none'}:''">
    <span
      [ngClass]="isSessionConnected ? 'c8y-pulse active' : 'c8y-pulse inactive'"
    ></span>
    DataMailbox Connected
  </div>
</c8y-action-bar-item>
<!--Action Bar Add Sync job-->
<c8y-action-bar-item [itemClass]="'btn-group'" [placement]="'right'">
  <button class="btn btn-link" (click)="syncJobService.modalCreateSynchJob()" style="margin:-1rem; padding-right:2rem;">
    <i c8yIcon="plus-circle"></i>
    {{ 'Onloading Data' | translate }}
  </button>
</c8y-action-bar-item>
<!--Action Bar Search jobs-->
<c8y-action-bar-item [placement]="'left'">
  <div id="search" class="input-group input-group-search">
    <input
      type="search"
      class="form-control"
      placeholder="Search…"
      [(ngModel)]="searchString"
    />
    <span class="input-group-addon">
      <i
        c8yIcon="search"
        *ngIf="!searchString || searchString.length === 0"
      ></i>
      <i
        c8yIcon="times"
        class="text-muted"
        *ngIf="searchString && searchString.length > 0"
        (click)="data.searchString = ''"
      ></i>
    </span>
  </div>
</c8y-action-bar-item>


<div class="d-block">
  <!-- Empty State-->
  <div class="c8y-empty-state text-center">
    <h1 class="c8y-icon c8y-icon-duocolor c8y-icon-saas"></h1>
    <h3>{{ 'No onloading jobs to display.' | translate }}</h3>
    <p> Add a new onloading job for your devices.</p>
  </div>
  
</div>
