<div class="p-b-16">
  <div class="modal-header modal-header-primary text-center">
    <i [c8yIcon]="'c8y-icon-duocolor c8y-icon-saas'" style="font-size: 32px;"></i>
    <h3 class="p-t-16">{{ 'Add Onloading Job' }}</h3>
  </div>
  <c8y-stepper
    (onStepChange)="navigate($event)"
    [disableDefaultIcons]="{ edit: true, done: false }"
    [customClasses]="['m-l-40', 'm-r-40', 'm-t-32']"
    linear
  >
  <!-- Override icon -->
    <ng-template c8yStepperIcon="final">
      <span [c8yIcon]="'check-circle-o'"></span>
    </ng-template>
    <!-- Step One -->
    <cdk-step [stepControl]="formGroupStepOne" label="Configure Job">
      <div class="m-l-40 m-r-40 m-t-32">
        <h4 title="Job name" class="p-b-8">
          Configure Job
        </h4>
        <c8y-form-group>
          <div [formGroup]="formGroupStepOne">
            <label>{{ "Job name" | translate }}</label>
            <input class="form-control" 
                    type="text"  
                    formControlName="name"
                    placeholder="Enter the job name" 
                    #nameRef
                    required/>
            <c8y-messages>
              <c8y-message *ngIf="!formGroupStepOne.untouched && !nameRef.value">
                  Enter the name of the Job
              </c8y-message>
            </c8y-messages>
          </div>
        </c8y-form-group>
        <c8y-form-group>
          <div [formGroup]="formGroupStepOne">
            <label>{{ "Description" | translate }}</label>
            <input class="form-control" 
                    type="text"  
                    formControlName="description"
                    placeholder="Enter the job description" 
                    #descriptionRef
                    />
          </div>
        </c8y-form-group>
      </div>
      <c8y-stepper-buttons (onNext)="onMovingForward($event,$event)"></c8y-stepper-buttons> 
    </cdk-step>
    <!-- Step Two -->
    <cdk-step [stepControl]="formGroupStepTwo" label="Select devices">
      <div class="m-l-40 m-r-40 m-t-32">
        <h4 title="Select your devices" class="p-b-8">
          Select your devices
        </h4>
        <c8y-form-group>
          <div [formGroup]="formGroupStepTwo">        
            <!-- Data Grid ??-->
            <c8y-data-grid
              [columns]="columns"
              [pagination]="pagination"
              [actionControls]="actionControls"
              [rows]="rows"
              [selectable]="true"
              (itemsSelect)="selectItems($event)"
              >
              <c8y-column name="registered">
                <ng-container *c8yCellRendererDef="let context">
                  <span class = "d-flex j-c-center" *ngIf="context.value == 'yes'">YES <i class="dlt-c8y-icon-check-circle status-successful" style="color: #008800;; padding-left:1rem;"></i></span>
                  <span class = "d-flex j-c-center" *ngIf="context.value == 'no'">NO <i class="dlt-c8y-icon-block status-unsupported" style="color: #58656D;; padding-left:1rem;"></i></span>
                </ng-container>
              </c8y-column>
            </c8y-data-grid>
          </div>
        </c8y-form-group>
      </div>
      <c8y-stepper-buttons
        title="Add job"
        (onNext)="save()"
        [labels]="{ next: 'Add job' }"
        [pending]="pendingStatus"
      ></c8y-stepper-buttons>
    </cdk-step>
    <!-- Final step -->
    <cdk-step state="final" label="Configuration done">
      <div class="m-l-40 m-r-40 m-t-32">
        <h4 class="p-b-32 text-center">
          Your job was successfully created.
        </h4>
      </div>
      <c8y-stepper-buttons
        (onBack)="close()"
        [labels]="{ back: 'Close' }"
      ></c8y-stepper-buttons>
    </cdk-step>
  </c8y-stepper>
</div>